:root {
    // background
    --bg-main: #e4cdad;
    --bg-box: rgba(253, 248, 236, 0.8);

    // header
    --header-bg: #00000000;
    --footer-bg: #00000000;

    //text
    --text-title: #ffffff;
    --text-title-second: #8a6857;

    // z-index
    --index-elem-1: 1; // Для наползающих элементов
    --index-elem-2: 2; // Для наползающих элементов
    --index-elem-3: 3; // Для наползающих элементов
    --index-elem-4: 4; // Для наползающих элементов
    --index-mask: 5; // Для масок и оверлеев
    --index-sidebar: 6; // Для сайдбаров
    --index-modal: 7; // Для модалок
    --index-topmost: 8; // Для перекрывающих все элементов
}