@import "node_modules/normalize-scss/sass/normalize";

@import "base/variables";
@import "base/fonts";

@import "blocks/header";
@import "blocks/footer";

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: "Bebas Neue Pro", sans-serif;
}

html {
    // scroll-behavior: smooth;
}

body {
    padding: 0 0 40px 0;
    position: relative;
    background-color: var(--bg-main);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.bg-1 {
    display: none;
}
.bg-2 {
    display: none;
}

@media(min-width: 1024px) {
    .bg-1 {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        width: 100%;
        height: 1900px;

        background: url("../img/bg-1.webp");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center top;
        background-size: cover;

        z-index: var(--index-elem-1);
    }

    .bg-2 {
        display: block;
        position: absolute;
        top: 1800px;
        left: 0;
        right: 0;

        width: 100%;
        height: 1900px;

        background: url("../img/bg-2.webp");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center top;
        background-size: cover;

        z-index: var(--index-elem-1);
    }
}

input:focus::placeholder {
    color: transparent;
}

.container {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}
.container-fixed {
    max-width: 1240px;
}

@media(min-width: 768px) {
    .container {
        max-width: 1240px;
    }
}
