@import "node_modules/normalize-scss/sass/normalize";

@import "base/variables";
@import "base/fonts";

@import "blocks/header";
@import "blocks/footer";

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: "Bebas Neue Pro", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0 0 40px 0;
    position: relative;
    background-color: var(--bg-main);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}
.container-fixed {
    max-width: 1240px;
}

@media(min-width: 768px) {
    .container {
        max-width: 1240px;
    }
}
