.footer {
    margin: 50px 0 0 0;
    background: var(--bg-second);
    text-align: center;
    font-weight: 400;

    &__wrapper {
        padding: 30px 0 40px 0;

        border-top: 1px dashed rgb(0, 0, 0);
        border-bottom: 1px dashed rgb(0, 0, 0);
        border-spacing: 100px;
    }

    &__left-box {
        display: flex;
        align-items: center;
    }

    &__logo {
        padding: 0 26px 0 0;
        display: block;
        margin: 0 auto 0 0;
    }
    
    &__text {
        color: rgb(90, 80, 80);
        
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;

        display: none;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0 0 0 26px;
        text-align: start;
    }
    
    &__phone {
        margin: 40px 0 0 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    &__phone-img {
        width: 60px;
        height: 60px;
    }

    &__phone-box {

    }

    &__phone-status {
        position: relative;
        color: rgb(90, 80, 80);
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-align: right;
        &::before {
            content: "";
            position: absolute;
    
            width: 14px;
            height: 14px;
    
            top: 0;
            left: 10px;
    
            border-radius: 50%;
    
            border: 0.82px solid rgb(255, 255, 255);
            background: rgb(29, 183, 128);
        }
    }

    &__phone-num {
        color: rgb(90, 80, 80);
        font-size: 35px;
        font-weight: 400;
        line-height: 40px;
        text-align: right;
        font-family: Bebas Neue Pro Num;
    }

    &__phone-btn {
        display: none;
    }
}
@media(min-width: 768px) {
    .footer {
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }
        &__text {
            display: block;
        }
        &__phone {
            margin: 0;
        }
    }
}
@media(min-width: 1024px) {
    .footer {
        &__phone-btn {
            display: block;

            width: 180px;
            height: 60px;

            border: 2px solid rgb(255, 255, 255);
            background: #00000000;
            border-radius: 50px;

            color: rgb(255, 255, 255);

            font-size: 18px;
            font-weight: 700;
            line-height: 18px;

            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;

            cursor: pointer;

            &:hover {
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }
}